.container {
    width: 600px;
    height: 400px;
    border-radius: 5%;
    background-color: rgb(49, 121, 165);
    display: flex;
    margin-top: 20px;
    margin-left: 20px;

  }
  
  .text-color {
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 25px;
  }

  .barChartStyle{
    margin-top: 130px;
    margin-left: 40px;
    width: 500px;
    height: 300px;
    position: absolute;
  }