* {
    margin: 0;
    box-sizing: border-box;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    width: 2em;
    margin-left: 1350px;
    margin-top: 0px;
}

.burger-menu {
    height: 25px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    margin-top: -5px;
}

.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color:  rgb(16, 119, 184);
    border-radius: 0.5em;
}

.menu {
    width: 300px;
    height: 115px;
    background-color:  rgb(23, 112, 168);;
    margin-top: -14px;
    z-index: 2;
    margin-left: 1150px;
    border-radius: 30px;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(-0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.nested-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.arrow_style
{
    width:10px;
    height: 10px;
    margin-left: -5px;
    margin-bottom: 3px;
}  